﻿.Layout {
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
}

.Layout main {
    position: absolute;
    width: 100%;
    display: flex;
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
}