﻿.CartItem {
    display: flex;
    width: 80%;
    justify-content: space-around;
    font-size: 2rem;
    align-items: center;    
}

.bottomBorder {
    border-bottom: 1px solid rgba(204,214,228,.6);
}

.withoutBorder {
    border-bottom: none;
}
